<%- include('../partials/__head.ejs') %>
<body>
    <div class="container-scroller d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper d-flex align-items-center justify-content-center">
            <div class="col-md-14 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Input Data Jenis Latihan</h4>
                        <p class="card-description">
                            Basic form layout
                        </p>
                        <form action="/jenis_latihan/store" method="POST" class="forms-sample">
                            <div class="form-group mb-4">
                                <label for="jenis_latihan">Jenis Latihan</label>
                                <input type="text" class="form-control" id="nama_latihan" name="nama_latihan" placeholder="jenis latihan" required>
                            </div>
                            <button type="submit" class="btn btn-success mr-2">Simpan</button>
                            <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- container-scroller ends -->
<%- include('../partials/__foot.ejs') %>
</body>
