<%- include('../partials/__head.ejs') %>
<body>
    <div class="container-scroller d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <!-- partial:partials/_navbar.html -->
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper d-flex align-items-center justify-content-center">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tambah Album</h4>
                        <p class="card-description">Form untuk menambahkan album baru</p>
                        <form action="/album/store" method="POST" enctype="multipart/form-data" class="forms-sample">
                            <div class="form-group">
                                <label for="gambar">Gambar Album</label>
                                <input type="file" class="form-control" id="gambar" name="gambar" required>
                            </div>
                            <div class="form-group">
                                <label for="judul">Judul Album</label>
                                <input type="text" class="form-control" id="judul" name="judul" placeholder="Judul Album" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">kategori</label>
                                <select class="form-control" id="exampleFormControlSelect2" name="kategori" required>
                                    <option selected>Pilih Kategori</option>
                                        <option value="pelatihan">Pelatihan</option>
                                        <option value="keagamaan">Keagamaan</option>
                                        <option value="acara">Acara</option>
                                        <option value="prestasi">Prestasi</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="deskripsi">Deskripsi Album</label>
                                <textarea class="form-control" id="deskripsi" name="deskripsi" placeholder="Deskripsi" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                            <button type="button" class="btn btn-light" onclick="history.back()">Batal</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- container-scroller ends -->
<%- include('../partials/__foot.ejs') %>
</body>
</html>
